POSTGRES_USER='postgres'
POSTGRES_PASSWORD=''
POSTGRES_HOST='deplocker_postgres'
POSTGRES_PORT=5432
POSTGRES_DB='deplocker'
TEST_DB='deplocker_test'

ENVIRONMENT='production' # Differentiate the dev and production environments-> it is set to "dev" for development
DEV_FRONTEND_URL='http://localhost:5173,http://localhost:8082'
PROD_FRONTEND_URL=''

# JWT configuration parameters
SECRET_KEY='strong-secret-key'
ALGORITHM='HS256'
ACCESS_TOKEN_EXPIRES_MINUTES=15

# RabbitMQ configuration variables
RABBITMQ_DEFAULT_USER='admin'
RABBITMQ_DEFAULT_PASS=''
RABBITMQ_HOST='rabbitmq'
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_VHOST='deplocker'

# Redis configuration variables
REDIS_HOST='redis-stack'
REDIS_PORT=6379
REDIS_PASSWORD=''

# Email service parameters
SMTP_HOST='smtp.gmail.com'  # You may use other mail services, but in this example Google SMTP service domain is set.
SMTP_PORT=587
SENDER_EMAIL_ADDRESS=''  # This is the email address to be used as a send for the email messaging to platform users.
EMAIL_HOST_PASSWORD=''  # This is the authentication password required for the mail service platform. I.e: In Google, it is called the "App Password" (an extra security layer they have set for granting access to third-party services like this platform)

# Google OAuth2 configuration parameters
GOOGLE_CLIENT_ID=your-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-client-secret
GOOGLE_AUTH_URL=https://accounts.google.com/o/oauth2/v2/auth
GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_USER_INFO_URL=https://www.googleapis.com/oauth2/v2/userinfo
